/*colors*/
@bg: #F6F8FE;
@bg-secondary: #F9FAFB;

@blue: #1975FF;
@light-blue: #CCE0FF;
@dark-blue: #0052CC;

@text-primary: #141C24;
@text-secondary: #344051;
@text-tertiary: #637083;
@text-quartenery: #97A1AF;
@text-invert: #ffffff;

@border-extralight: #E3E5E5;
@border-light: #CED2DA;
@border-medium: #97A1AF;

@success: #40BF7F;
@error: #F64C4C;
@disable: #E8ECF1;
@white: #ffffff;
@dark: #141C24;


/*fonts*/
@font1: "Inter", sans-serif;