html{
    overflow-y: scroll;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: @bg;
    color: @text-primary;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
    padding-top: 88px;
    overflow-x: hidden;
}

main{
    padding-top: 100px;
}