.form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 368px;
  width: 100%;

  &--row {
    max-width: 100%;
    flex-direction: row;
    column-gap: 64px;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-width: 368px;
    width: 100%;
  }

  &__buttons {
    display: flex;
    column-gap: 24px;
    align-items: end;
  }
}
