.link {
  position: relative;
  user-select: none;
  color: @blue;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -4px;
    width: 0;
    height: 1px;
    transition: 0.3s;
  }

  &:hover {
    color: @blue;
    &::before {
      background-color: @blue;
      width: calc(100% + 8px);
    }
  }

  &:active,
  &--active,
  &.router-link-exact-active {
    color: @dark-blue;

    &:hover {
      &::before {
        background-color: @dark-blue;
      }
    }
  }
}