.modal {
  position: absolute;
  top: 92px;
  right: 240px;
  z-index: 10;
  padding: 10px 20px;
  color: @bg;
  border-radius: 8px;

  &--error {
    background-color: @error;
  }

  &--success {
    background-color: @success;
  }
}
